<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">

    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}"-->
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"-->

</head>
<meta charset="utf-8">
<body>
  <div class="container">

     <table class="table">
          <thead>
            <tr>
              <th scope="col">name</th>
              <th scope="col">new since</th>
              <th scope="col">current rank</th>
              <th scope="col">highest rank</th>
              <th scope="col">change 24h</th>
            </tr>
          </thead>
             {% for value in newcomers %}
               <tbody>
                <tr>
                  <th scope="row">{{ value["name"] }}</th>
                  <td>{{ value["date"] }}</td>
                  <td>{{ value["current_rank"] }}</td>
                  <td>{{ value["highest_rank"] }}</td>
                  <td>{{ value["percent_change_24h"] }}</td>
                </tr>
              </tbody>
             {% endfor %}
     </table>

    <!--h1>Welcome</h1>
    <p>I am a custom page!</p>
      <div class="row" style="background-color:lavender;">
        <div class="col-sm-4" >newcomer</div>
        <div class="col-sm-4" >since</div>
      </div-->
  </div>
</body>
</html>
